.swap-request-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.swap-request-form {
  display: flex;
  flex-direction: column;
}

.swap-request-container h4 {
  margin: 10px;
}

.select-property-dropdown {
  padding: 6px;
}

.dates-container {
  display: flex;
}

.swap-req-date-container input[type="date"] {
  border-radius: 5px;
  background-color: #fff;
  margin: 10px;
  width: 120px;
  padding: 5px;
}

.text-area-swap-form {
  padding: 12px;
  justify-self: center;
  font-family: "inter";
}

.submit-swap-request {
  padding: 12px 20px;
  width: 100px;
  background-color: #ae593a;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0;
  align-self: center;
}
/* sweet alert custom styles added here */
.custom-confirm-button {
  background-color: #ae593a;
  color: white;
  border: none !important;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.custom-confirm-button:hover {
  background-color: #ae593a !important;
  color: white;
  border: none !important;
}
